.login-bg {
    -fx-background-color: linear-gradient(to bottom right, #2f466b, #662d60);
}

/*.text-field:hover{*/
/*    -fx-border-color: #53bfe1;*/
/*}*/

.loginButton:hover {
    -fx-background-color: linear-gradient(to bottom right, rgb(134, 213, 206), #55e7e0);
    -fx-text-fill: #ffffff;
}

.longinButton:pressed {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-trasition-duration: 0.1s;
}

.login_logo {
    -fx-background-color: linear-gradient(to bottom right, #d5dada, #c9dcdc);
}

.user-Background {
    -fx-background-color: linear-gradient(to bottom right, #2f466b, #662d60);
}